.header {
  width: 100%;
 padding: 36px 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  background-color: var(--color-orange-danger);
  border-radius: 8px;
}

.link { 
  padding: 8px 20px;
  color: var(--color-white);
  text-decoration: none;
  display: inline-block;
}

